.messages {
  width: 70%;

  &__header {
    height: 10%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
    background-color: #e7e7e7;
    border-bottom: 1px solid #adadad;

    &-avatar {
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }

    &-name {
      font-size: 20px;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    padding: 20px 10px 20px 10px;
    gap: 25px;
    height: 70%;
    box-sizing: border-box;
    overflow: auto;
  }

  &__footer {
    border-top: 1px solid #adadad;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    background-color: #e7e7e7;

    &-form {
      width: 90%;
      height: 35%;
      border: 1px solid #adadad;
      border-radius: 23px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
    }

    &-input {
      width: 90%;
      height: 90%;
      font-size: 18px;
      border: 0;
      outline: none;
    }

    &-button {
      width: 4%;
      height: 60%;
      background-image: url("../../images/icons8-email-send-64.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-color: white;
      border: 0;
      &:hover {
        background-image: url("../../images/icons8-email-send-64-blue.png");
      }
    }
  }
}

.message {
  &-to-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__text {
      display: flex;
      border-radius: 30px;
      background-color: #29293f;
      color: white;
      line-height: 20px;
      padding: 15px 10px 15px 10px;
      align-items: center;
      justify-content: center;
    }
    &__info {
      display: flex;
      gap: 15px;
    }
    &__avatar {
      width: 55px;
      height: 55px;
      border-radius: 50%;
    }
    &__date {
      margin-left: 75px;
      font-size: 14px;
      color: #969696;
    }
  }
  &-from-me {
    align-self: end;
    &__info {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__date {
      align-self: end;
      font-size: 14px;
      color: #969696;
    }
    &__text {
      display: flex;
      border-radius: 30px;
      background-color: #e8e8e8;
      color: #000000;
      line-height: 20px;
      padding: 15px 10px 15px 10px;
      align-items: center;
      justify-content: center;
    }
  }
}
